<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoqing.dynastyForum.mapper.CategoryMapper">

    <select id="getList" resultType="com.ruoqing.dynastyForum.vo.CategoryVO">
        select dc.category_id, dc.category_name, dc.category_logo, count(*) post_count
        from dy_category dc
        left join dy_post_category dpc on dc.category_id = dpc.category_id
        <where>
            dc.`status` = 0 and dpc.`status` = 0
            <if test="categoryName != null and categoryName != ''">
                and dc.category_name like concat('%', #{categoryName}, '%')
            </if>
        </where>
        group by dc.category_id
    </select>
</mapper>
