<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoqing.dynastyForum.mapper.PostMapper">

    <update id="addViews">
        update dy_post set views = views + 1 where status= 0 and post_id = #{postId}
    </update>

    <select id="pagePost" resultType="com.ruoqing.dynastyForum.vo.PostVO">
        select dy.post_id, dy.post_title, dy.post_content, dy.user_id, dy.create_time, dy.category_id,
               du.nick_name, dc.category_name, du.avatar
        from dy_post dy
        left join dy_user du on du.user_id = dy.user_id
        left join dy_category dc on dc.category_id = dy.category_id
        <where>
            dy.status = 0
            <if test="qo.categoryId != null">
                and dy.category_id = #{qo.categoryId}
            </if>
            <if test="qo.postTitle != null and qo.postTitle != ''">
                and dy.post_title like concat('%', #{qo.postTitle}, '%')
            </if>
        </where>
        order by dy.create_time desc
    </select>

    <select id="detail" resultType="com.ruoqing.dynastyForum.vo.PostDetailVO">
        select dy.post_id, dy.post_title, dy.post_content, dy.user_id, dy.create_time, dy.category_id,
               dy.views, du.nick_name, du.avatar
        from dy_post dy
        left join dy_user du on du.user_id = dy.user_id
        where dy.post_id = #{postId}
    </select>

</mapper>
