<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoqing.dynastyForum.mapper.PostMapper">

    <update id="addViews">
        update dy_post set views = views + 1 where status= 0 and post_id = #{postId}
    </update>

    <select id="pagePost" resultType="com.ruoqing.dynastyForum.vo.PostVO">
        select dy.post_id, dy.post_title, dy.post_content, dy.post_img, dy.top, dy.user_id, dy.create_time,
               dy.views, dy.content, dy.raw_content, du.nick_name, du.avatar, du.level
        from dy_post dy
        left join dy_user du on du.user_id = dy.user_id
        <where>
            dy.status = 0
            <if test="qo.postIds != null and qo.postIds.size > 0">
                and dy.post_id in
                <foreach collection="qo.postIds" item="id" open="(" separator="," close=")">
                    #{id}
                </foreach>
            </if>
            <if test="qo.postTitle != null and qo.postTitle != ''">
                and dy.post_title like concat('%', #{qo.postTitle}, '%')
            </if>
            <if test="qo.userId != null and qo.isSelf != null and qo.isSelf == 1 ">
                and dy.user_id = #{qo.userId}
            </if>
        </where>
        order by dy.top desc, dy.create_time desc
    </select>

    <select id="detail" resultType="com.ruoqing.dynastyForum.vo.PostDetailVO">
        select dy.post_id, dy.post_title, dy.post_content, dy.user_id, dy.create_time,
               dy.views, dy.post_img, dy.raw_content, du.nick_name, du.avatar, du.`level`
        from dy_post dy
        left join dy_user du on du.user_id = dy.user_id
        where dy.post_id = #{postId}
    </select>

</mapper>
